
    
    {% include "@atoms/para/para.twig" with {
        p_content: p_content
    } %}

    <ul>
        <li><i class="{{checkicon}}"></i> <span>{{spancontent1}}</span></li>
        <li><i class="{{checkicon}}"></i> <span>{{spancontent2}}</span></li>
        <li><i class="{{checkicon}}"></i> <span>{{spancontent3}}</span></li>
    </ul>

