<nav id="navmenu" class="navmenu">
        <ul>
          <li><a href={{href1_link}} class="active">{{href1_content}}<br></a></li>
          <li><a href={{href2_link}} class="">{{href2_content}}</a></li>
          <li><a href={{href3_link}} class="">{{href3_content}}</a></li>
          <li><a href={{href4_link}} class="">{{href4_content}}</a></li>
          <li><a href={{href5_link}} class="">{{href5_content}}</a></li>
          <li><a href={{href6_link}} class="">{{href6_content}}</a></li>
          <li><a href={{href7_link}}>{{href7_content}}</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>