<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member d-flex align-items-start">
              <div class="pic">
                {# <img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""> #}
                {% include "@atoms/img/img.twig" with {
                    img_src: img_src
                } %}
            </div>

              <div class="member-info">
                {# <h4>Walter White</h4> #}
                {% include "@atoms/heading/heading.twig" with {
                    heading_level: heading_level,
                    heading: heading
                } %}
                <span>{{spancontent}}</span>

                {# <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p> #}
                {% include "@atoms/para/para.twig" with {
                    p_content: p_content
                } %}
                <div class="social">
                  <a href=""><i class="{{socialicon1}}"></i></a>
                  <a href=""><i class="{{socialicon2}}"></i></a>
                  <a href=""><i class="{{socialicon3}}"></i></a>
                  <a href=""><i class="{{socialicon4}}"></i> </a>
                </div>
              </div>
            </div>
          </div>