<ul class="portfolio-filters isotope-filters aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <li data-filter="{{data_filter_all}}" class="filter-active">{{data_filter_all_text}}</li>
    <li data-filter="{{data_filter_app}}" class="">{{data_filter_app_text}}</li>
    <li data-filter="{{data_filter_product}}" class="">{{data_filter_product_text}}</li>
    <li data-filter="{{data_filter_branding}}" class="">{{data_filter_branding_text}}</li>
</ul>