<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item">

              {# <img src="https://bootstrapmade.com/demo/templates/Sailor/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""> #}
              {% include "@atoms/img/img.twig" with {
                img_src: img_src
              } %}

              {# <h3>Saul Goodman</h3> #}
              {% include "@atoms/heading/heading.twig" with {
                heading_level: '3',
                heading: heading1
              } %}

              {# <h4>Ceo &amp; Founder</h4> #}
              {% include "@atoms/heading/heading.twig" with {
                heading_level: '4',
                heading: heading2
              } %}

              <div class="stars">
                <i class="{{icon1}}"></i><i class="{{icon2}}"></i><i class="{{icon3}}"></i><i class="{{icon4}}"></i><i class="{{icon5}}"></i>
              </div>

              <p>
                <i class="{{icon6}}"></i>
                <span>{{spancontent}}</span>
                <i class="{{icon7}}"></i>
              </p>
              
            </div>
          </div>